		*{
			margin: 0;
			padding: 0;
			font-size: 24px;
			margin-top: 0;
		}
		
		img {
			display: block;
			margin-left: -18px;
			margin-top: -20px;
		}
		
		div {
			display: inline-block;
			overflow: hidden;
			margin:  15px;
			text-align: center;
			height: 124px;
			line-height: 124px;
		}
		
		
		div#chrome{
			width: 125px;
		}
		
		div#firefox{
			width: 124px;
		}
		
		div#opera{
			width: 112px;
		}
		
		div#safari{
			width: 112px;
		}
		
		div#yandex{
			width: 130x;
		}
		
		div#ie{
			float: right;
			width: 130px;
		}
		
		div#chrome span:nth-child(2){
			color: #22a12a;
		}
		
		div#chrome span:nth-child(3){
			color: #c90000;
		}
		
		div#chrome span:nth-child(4){
			color: #f9d411;
		}

		div#firefox{
			color: #f2a414;
		}

		div#opera{
			color: #c10e0e;
		}
		
		div#safari{
			color: #646464; 
		}
		
		div#yandex span:nth-child(2){
			color: #ff0000;
		}
		
		div#yandex span:nth-child(3){
			color: #000000;
		}
		
		div#ie {
			color: #036da3;
			line-height: normal;
		}
		
		div#ie span {
			display: table-cell;
			vertical-align: middle;
		}
		
	
		
		
